<main role="main" class="main-content1">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="d-flex flex-wrap mb-4">
          <h1 class="flex-grow-1">User Profile</h1>
        </div>
        <div class="my-4 card-custom p-4 profile-card" *ngIf="user">
          <div class="row mt-4 align-items-center">
            <div class="col-md-3 text-center mb-4">
              <div class="avatar avatar-xl">
                <img [src]="'assets/' + user.image" alt="Profile Picture" class="avatar-img rounded-circle" id="profileImage">
              </div>
            </div>
            <div class="col-md-9">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <h2 class="mb-3 text-custom">{{ user.firstName }} {{ user.lastName }}</h2>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-12">
                  <p class="text-custom"><i class="pi pi-envelope"></i> Email: {{ user.email }}</p>
                  <p class="text-custom"><i class="pi pi-phone"></i> Phone Number: {{ user.numeroTel }}</p>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4 hr-custom">
          <form [formGroup]="userForm" (ngSubmit)="updateProfile()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <mat-form-field appearance="fill" class="custom-form-field">
                  <mat-label>Firstname</mat-label>
                  <input matInput formControlName="firstName" placeholder="Enter your first name">
                </mat-form-field>
              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field appearance="fill" class="custom-form-field">
                  <mat-label>Lastname</mat-label>
                  <input matInput formControlName="lastName" placeholder="Enter your last name">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <mat-form-field appearance="fill" class="custom-form-field">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Ex. pat@example.com">
                </mat-form-field>
              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field appearance="fill" class="custom-form-field">
                  <mat-label>Number</mat-label>
                  <input matInput formControlName="number" placeholder="Enter your phone number">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <mat-form-field appearance="fill" class="custom-form-field">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" placeholder="Enter your username">
                </mat-form-field>
              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field appearance="fill" class="custom-form-field">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" placeholder="Enter your password">
                </mat-form-field>
              </div>
             
            </div>
            <!-- File -->
            <div class="form-group">
              <label for="image">Profile Image</label>
              <input type="file" (change)="onFileSelected($event)" />
            </div>
            <!-- Update Button -->
            <div class="form-group mt-4">
              <button mat-raised-button color="accent" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
